* {
	margin: 0;
	padding: 0;
}
::selection {
	color: #FFF !important;
	background: #F00 !important;
}
img {
	max-width: 100%;
}
body {
	background: url(../_images/digicel-logo-bg.png) no-repeat bottom right;
	font-family: "Conv_FS_Joey", "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 100%;
	font-style: normal;
	font-weight: normal;
	overflow: auto;
}
#header {
	width: 100%;
	height: auto;
	background-color: #db3924;
	margin: 0 auto;
	position: relative;
	clear: both;
}
#header #top-bar {
	width: 100%;
	height: 10px;
	overflow: hidden;
}
#header #top-bar img {
	width: 100%;
	min-height: 20px;
}
#header #header-inner {
	width: 920px;
	max-width: 960px;
	min-width: 960px;
	height: 100px;
	max-height: 100px;
	min-height: 100px;
	margin: 0 auto;
	padding: 0 20px;
}
#header #header-inner #logo {
	margin-top: 20px;
	float: left;
}
#header #header-inner #menu {
	float: right;
}
#header #header-inner #menu ul {
}
#header #header-inner #menu ul li {
	display: inline-block;
	margin: 10px 8px 0;
	color: #FFF;
	font-size: 18px;
	line-height: 1.5;
}
#header #header-inner #menu ul li a {
	font-size: 18px;
	color: #FFF;
	text-decoration: none;
	outline: none;
}
#header #header-inner #menu ul li a:hover {
	color: #DDD;
}
#header #header-inner #menu ul li a:active {
	color: #999;
}
#header #sub-header {
	width: 100%;
	height: 172px;
	background-color: #3f5364;
	clear: both;
	position: relative;
}
#header #sub-header-inner {
	width: 920px;
	margin: 0 auto;
	height: 172px;
}
#sub-header-titles {
	width: 490px;
	height: 172px;
	float: left;
}
#header #sub-header h1 {
	font-size: 42px;
	font-family: 'Conv_FS_Joey-Bold';
	color: #FEFEFE;
	font-weight: normal;
	line-height: 1.2;
	margin-top: 12px;
}
#header #sub-header h2 {
	font-size: 40px;
	color: #FEFEFE;
	font-weight: normal;
}
#header #sub-header #laptop {
	float: right;
}
#content {
	width: 920px;
	height: 1100px;
	margin: 0 auto;
	position: relative;
	clear: both;
}
#content #form-box {
	width: 464px;
	height: 538px;
	background: #e0e0e0;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	float: left;
	margin-top: 8px;
	margin-bottom: 40px;
	background: url('../_images/form-bg.png') #e0e0e0 no-repeat bottom right;
	position: relative;
	clear: left;
}
#content #form-box h2 {
	font-size: 22px;
	font-family: 'Conv_FS_Joey-Bold';
	margin: 18px 28px 20px;
	text-align: justify;
	color: #db3924;
	font-weight: normal;
}
#content #form-box p {
	font-size: 16px;
	color: #113e4d;
	text-align: center;
	margin: 0 auto 20px;
}
#content #form-box p span {
	font-weight: bold;
}
#content #description {
	width: 456px;
	height: 430px;
	background-color: #f8f8f8;
	float: left;
	margin: 56px 0 0;
	border-radius: 0 15px 15px 0;
	-webkit-border-radius: 0 15px 15px 0;
	-moz-border-radius: 0 15px 15px 0;
	position: relative;
	clear: right;
}
#content #description p {
	font-size: 16px;
	line-height: 1.5;
	color: #113e4d;
	margin: 0;
	padding: 18px 25px 0;
}
#separator1 {
	width: 100%;
	margin: 0 auto;
	height: 1px;
	background: url(../_images/separator.png) no-repeat center;
	position: relative;
	clear: both;
	border: none;
}
#separator2 {
	width: 100%;
	margin: 20px auto;
	height: 1px;
	background: url(../_images/separator.png) no-repeat center;
	position: relative;
	clear: both;
	border: none;
}
#content #info-box {
	width: 890px;
	height: 340px;
	position: relative;
	clear: both;
	float: left;
	margin: 40px 15px 0 15px;
	text-align: center;
	background: -moz-linear-gradient(top, rgba(234,236,238,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(234,236,238,1)), color-stop(100%, rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(234,236,238,1) 0%, rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(234,236,238,1) 0%, rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(234,236,238,1) 0%, rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(234,236,238,1) 0%, rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaecee', endColorstr='#00FFFFFF', GradientType=0 ); /* IE6-9 */;
}
#content #info-box #title-bar {
	width: 920px;
	background: #ff2626;
	height: 40px;
	margin: 0 -14px 30px;
	padding-top: 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	box-shadow: 0 2.5px 0 rgba(192, 192, 192, 0.8);
}
#content #info-box #title-bar h3 {
	line-height: 20px;
	font-family: 'Conv_FS_Joey-Bold';
	font-weight: normal;
	color: #FFF;
	width: 99.2%;
	background: #F00;
	height: 28px;
	margin: 0 auto;
	border-radius: 9px 5px 10px 0;
	float: right;
}
#content #info-box #info-content {
	margin: 0 auto;
}
#content #info-box #info-content img {
	margin: 0 auto;
}
#content #info-box #info-content ul li {
	margin: 12px auto;
	width: 260px;
	text-align: center;
	font-size: 16px;
	line-height: 1.5;
}
#content #info-box #info-content span {
	margin-right: 5px;
	position: relative;
	top: -2px;
}
#content #info-box #info-content #info-box-left {
	float: left;
	width: 258px;
	margin: 0 28px;
}
#content #info-box #info-content #info-box-middle {
	float: left;
	width: 258px;
	margin-right: 28px;
}
#content #info-box #info-content #info-box-right {
	float: left;
	width: 258px;
}
#footer {
	position: relative;
	clear: both;
	width: 100%;
	height: 40px;
	margin: 0 auto;
	padding: 0 20px;
}
#footer #linkedin-button {
	float: left;
	margin-bottom: 10px;
}
#footer #linkedin-button img {
	float: left;
	margin: 2px 5px 0 0;
}
#footer #linkedin-button a {
	text-decoration: none;
	color: #000;
	font-size: 15px;
	font-family: 'Conv_FS_Joey-Bold';
	font-weight: normal;
	outline: none;
}
#footer #linkedin-button a:hover {
	color: #F00;
	text-decoration: none;
}
#back-to-top {
	background-color: rgba(255, 0, 0, 0.7);
	color: #fff;
	padding: 1em 1.5em;
	position: fixed;
	bottom: 2em;
	right: 2em;
	font-size: 12px;
	font-family: 'Conv_FS_Joey-Bold';
	font-weight: normal;
	text-decoration: none;
	border-radius: 8px 0px;
	opacity: .08;
	-webkit-opacity: .08;
	-moz-opacity: .08;
	transition: .5s;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	z-index: 100;
}
#back-to-top:hover {
	opacity: 1;
	transition: .5s;
	-webkit-transition: .5s;
	-moz-transition: .5s;
}
#thanks-box {
	width: 920px;
	height: 300px;
	margin: 60px auto 20px;
	padding: 0 20px;
}
#thanks-box h1 {
	font-family: "Conv_FS_Joey-Bold", "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 32px;
	text-align: center;
	color: #444; 
	width: 500px;
	margin: 0 auto;
	font-weight: normal;
}
#thanks-box p {
    font-size: 22px;
    margin: 20px auto;
    text-align: center;
    width: 700px;
}
#thanks-box a {
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: rgb(248, 46, 46);
}